.card img{
    height: 12rem;
}
#nav{
    opacity: 0.8;
}
.main{
    margin-top: 6rem;
}

#principal{
    margin-top: 4rem;
}

header{
    width: 100%;
    height: 30rem;
    background-image: url("../assets/img/fondo.png");
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
}

@media only screen and (max-width: 1080px){
    #logoHeader{
        display: none;
    }
    header{
        height: 28rem;
    }
}